<!DOCTYPE html>
<html>
<head>
  <title>Room Status Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body style="background-color: #722f37;">
  <h1 style="color: white;">Room Status Dashboard</h1>

  <div class="room-container">
    <table class="room-table">
      <tr>
        <th>Room Name</th>
        <th>Temperature (&deg;C)</th>
        <th>Humidity (%)</th>
        <th>Vibration</th>
        <th>Timestamp</th>
      </tr>
      <% data.each do |room| %>
        <tr>
          <td><%= room['room_name']['S'] %></td>
          <td class="<%= color_temperature(room['current_temperature']['N']) %>"><%= room['current_temperature']['N'] %></td>
          <td class="<%= color_humidity(room['current_humidity']['N']) %>"><%= room['current_humidity']['N'] %></td>
          <td class="<%= color_vibration(room['current_vibration']['N']) %>"><%= room['current_vibration']['N'] %></td>
          <td><%= convert_timestamp(room['timestamp']['N']) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</body>
</html>
